/* Reset some default styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.logo img {
    width: 150px; /* Adjust as needed */
}

main {
    padding: 20px;
}

.content {
    text-align: center;
    background: url('Testing-AI-Article_F-min.webp') center/cover no-repeat;
    padding: 60px;
    position: relative;
    min-height: 50vh; /* Ensure the content section fills the viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000;
}

h1 {
    font-size: 35px;
    margin-bottom: 10px;
    color: white; /* Text color on the content section */
}

p {
    color: white; /* Text color on the content section */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    vertical-align: bottom;
    width: 100%;
}

.button {
    position: relative;
    display: block;
    top: 50px;
    font-size: 30px;
    text-align: centre;
    background-color: #e7f674;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px; /* Add spacing between buttons */
}

.button:hover {
    background-color: #0056b3;
}